html {
  min-height: 100vh;
}

body {
  font-family: 'Lora', serif;
  color: rgb(56, 56, 56);
  position: relative;
  margin: 0;
  padding-bottom: 70px;
  min-height: 100vh;
}

.App-header {
  background: url('./photos/cover.jpg') no-repeat center center;
  background-size:100%;
  height: 500px; 
  text-align: center;
  
}

.Interests {
  width: 909px; 
  margin: 0 auto; 
  text-align: center; 
  padding-bottom: 60px; 
}

.Projects {
  width: 70%; 
  margin: 0 auto; 
  text-align: center; 
  padding-bottom: 20px; 
}

.project-item {
  padding-top: 10px; 
  padding-bottom: 10px;
}

.project-item-l {
  text-decoration: none;
  font-style: none; 
  color: rgb(56, 56, 56);
  background: #dac9d3; 
  height: 25px; 
  padding: 5px; 
  outline: 1px solid rgb(56, 56, 56);
}

.project-item-l:hover {
  background: rgb(56, 56, 56); 
  color: #dac9d3;
  outline: 1px solid #dac9d3;
}

#reading {
  background: url('./photos/reading.jpg') no-repeat center center;
  background-size:100%; 
  text-align: center;
}

#waterpolo {
  background: url('./photos/waterpolo.jpg') no-repeat center center;
  background-size:100%; 
  text-align: center;
}

#coding {
  background: url('./photos/coding.jpg') no-repeat center center;
  background-size:100%;
  text-align: center;
}

#lifting {
  background: url('./photos/lifting.jpg') no-repeat center center;
  background-size:100%;
  text-align: center;
}

#biking {
  background: url('./photos/biking.jpg') no-repeat center center;
  background-size:100%;
  text-align: center;
}

#gardening {
  background: url('./photos/gardening.jpg') no-repeat center center;
  background-size:100%;
  text-align: center;
}


.photoset {
  display: block;
  overflow: hidden;
  margin: 0 auto; 
}


.interests-img {
  width: 300px; 
  height: 200px; 
  margin-right: 3px; 
  margin-top: 3px; 
  float: left;
}

.about-img {
  height: 175px; 
  overflow: hidden; 
}

.photoset_1 {
  overflow: hidden;
}

/* .interests-img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier 
} */

.interest-desc {
  margin-top: -20px; 
  width: 100px; 
  visibility:hidden; 
}

.App-title {
  font-family: 'Cormorant', serif;
  font-size: 65px; 
  font-weight: lighter;
  color: rgb(56, 56, 56); 
  margin: 0 auto;
  padding-top: 40px;  
  letter-spacing: 3px;
}

.App-title-sub {
  font-family: 'Cormorant', serif;
  font-size: 30px; 
  font-weight: lighter;
  font-style: italic; 
 
}

.About, .Contact {
  width: 70%; 
  margin: 0 auto; 
  padding: 20px; 
}

.header {
  text-align: center;
  font-size: 22px; 
}

.Values {
  padding-top: 30px; 
  padding-bottom: 30px; 
  text-align: center;
  font-size: 24px; 
  background: #dac9d3; 
}

.italic {
  font-style: italic;
}

.person {
  font-size: 20px; 
}

.Skills {
  width: 70%; 
  text-align: center; 
  margin: 0 auto; 
  padding-bottom: 30px; 
}

.skills-items {
  width: 100%; 
}

.skills-icon {
  height: 60px; 
}

.Footer {
  padding-top: 10px; 
  height: 70px;
  width: 100%; 
  position: absolute;
  bottom: 0; 
  text-align: center;
  background: #dac9d3; 
}

.contact-items {
  display: inline-block;
  width: auto; 
  margin: 0 auto; 

}

.item {
  float:left; 
  padding: 10px;
  padding-bottom: 0px;  
}

@media only screen and (max-width: 1000px) {

  .interests-img {
    height: 150px; 
    width: 250px; 
  }

  .Interests {
    width: 759px; 
  }
}


@media only screen and (max-width: 800px) {
  .App-header {
      height: 300px; 
  }

  .App-title {
    font-size: 42px; 
    padding-top: 20px;  
    letter-spacing: 3px;
  }
  
  .App-title-sub {
    font-size: 22px; 
  }

  .Values {
    padding-top: 20px; 
    padding-bottom: 20px; 
    font-size: 20px; 
  }
  
  .person {
    font-size: 18px; 
  }

  .About {
    width: 80%; 
  }

  .interests-img {
    height: 100px; 
    width: 150px; 
  }

  .Interests {
    width: 459px; 
  }
   
}

@media only screen and (max-width: 500px) {
  .App-header {
      height: 200px; 
  }

  .App-title {
    font-size: 34px; 
    padding-top: 10px;  
    letter-spacing: 2px;
  }
  
  .App-title-sub {
    font-size: 18px; 
  }

  .Values {
    padding-top: 15px; 
    padding-bottom: 15px; 
    font-size: 18px; 
  }
  
  .person {
    font-size: 16px; 
  }

  .interests-img {
    height: 100px; 
    width: 150px; 
  }

  .Interests {
    width: 306px; 
  }
   
}